$maze-color:#3C948B;
$second-color:rgb(60, 60, 60);
$search-hover:rgb(162, 211, 212);
$placeholder-color:rgb(202, 199, 199);
$ig-color:rgb(226, 32, 216);
$ig-color-light:rgb(214, 112, 209);
$twitter-color:rgb(96, 96, 231);
$twitter-color-light:rgb(132, 132, 226);
$reddit-color-light:rgb(238, 128, 128);
$item-font-color:rgb(198, 209, 209);