@import "colors";
footer{
    grid-area: footer;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #a4a4a4;
    padding-top: 20px;
    a{
        text-decoration: none;
    }
    span{
        display: inline;
        margin-left: 70px;
        font-size: 20px;
    }
    .footer-left{
        flex:1;
    }
    .footer-right{
        flex:1;
    }
}

.icon{
    font-size: 120%;
    margin: 2px;
    text-decoration: none;
}
.icon-reddit{
    color: red;
    text-decoration: none;
    &:hover{
        color: $reddit-color-light;
    }
}
.icon-instagram{
    color:$ig-color;
    text-decoration: none;
    &:hover{
        color:$ig-color-light;
    }
}
.icon-facebook{
    color:blue;
    text-decoration: none;
    &:hover{
        color:lightblue;
    }
}
.icon-twitter{
    color:$twitter-color;
    text-decoration: none;
    &:hover{
        color:$twitter-color-light;
    }
}
#first{
    padding-right: 25px;
    text-align: right;
}
#first>a{
    font-size:18px;
    margin: 10px;
    padding-bottom: 20px;
    color: $maze-color;
}
#second{
    padding-right: 25px;
    text-align: right;
}
#second>a{
    font-size:14px;
    margin: 10px;
    padding-bottom: 20px;
    color:$maze-color;
}
.credits{
    display: inline;
    color:$maze-color;
    font-size:14px;
    margin-left: 70px;
    margin-top: 40px;
}